{include file=comm/head.html}

{include file=comm/top.html}

<div class="container pages">



	 <!-- 分类筛选 -->
     <div  class="my-3">
          <div class="row">
           		<div class="col-12 col-sm-2 col-md-1">Supplier：</div>
                <div class="col-12 col-sm-10 col-md-11">
                   {pboot:selectall field=ext_type text=All  class='mb-3 btn btn-light' active='mb-3 btn btn-info'}
                   {pboot:select field=ext_type}
                       <a href= "[select:link]" class="mb-3 btn {pboot:if('[select:value]'=='[select:current]')}btn-info{else}btn-light{/pboot:if}">[select:value]</a>  
                   {/pboot:select}
               </div>
          </div>
           
      <!--    <div class="row">
           		<div class="col-12 col-sm-2 col-md-1">颜色：</div>
                <div class="col-12 col-sm-10 col-md-11">
                   {pboot:selectall field=ext_color text=全部  class='mb-3 btn btn-light' active='mb-3 btn btn-info'}
                   {pboot:select field=ext_color}
                      <a href= "[select:link]" class="mb-3 btn {pboot:if('[select:value]'=='[select:current]')}btn-info{else}btn-light{/pboot:if}">[select:value]</a>  
                   {/pboot:select}
               </div>
          </div> -->
    </div>
      
	<!-- 图文列表 -->
    <div class="row">
        {pboot:list num=8 order=sorting}
            <div class="col-12 col-sm-6 col-lg-3 wow zoomIn" data-wow-delay="[list:i]00ms" data-wow-duration="1s">
              <div class="card">
                  <div class="card-img-150"><a href="[list:link]"><img class="card-img-top" src="[list:ico]" alt="[list:title]"></a></div>
                  <div class="card-body">
                    <h5 class="card-title"><a href="[list:link]">[list:title lencn=50]</a></h5>
                    <p class="card-text">
                    {pboot:if([list:istop]==1)}
                		<span class="badge badge-danger">置顶</span>
                	{/pboot:if}
                	{pboot:if([list:isrecommend]==1)}
                		<span class="badge badge-warning">推荐</span>
                	{/pboot:if}
                	{pboot:if([list:isheadline]==1)}
                		<span class="badge badge-info">头条</span>
                	{/pboot:if}
                	
                	</p>
                	
                  </div>
               </div>
         	</div>
        {/pboot:list}
    </div>

 	{include file=comm/page.html}
    
  
    
</div>

{include file=comm/foot.html}
